* {
    font-family: cursive;
}
p {
    color: rgb(255, 255, 255);
}
h1{
    font-size: 3em; color: red;
}
input {
    border-radius: 2em; border-color: red; 
}
html {
    background-color: black;
}
  
  

